WindowsFormsApp_PatientClient/WindowsFormsApp_PatientClient/Connected Services/ServiceReference/PatientServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8795/PatientsService/PatientServices?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PatientsService.Models" />
  <xs:import schemaLocation="http://localhost:8795/PatientsService/PatientServices?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PatientsService.Models" minOccurs="0" name="doctor" nillable="true" type="q1:Doctor" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PatientsService.Models" minOccurs="0" name="patient" nillable="true" type="q2:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDoctorPatients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doctorSurname" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PatientsService.Models" minOccurs="0" name="patients" nillable="true" type="q3:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDoctorPatientsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllDoctorNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllDoctorNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ReadAllDoctorNamesResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlreadyRecorded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PatientsService.Models" minOccurs="0" name="doctor" nillable="true" type="q5:Doctor" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PatientsService.Models" minOccurs="0" name="patient" nillable="true" type="q6:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlreadyRecordedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAlreadyRecordedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>